/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* Limpieza del código para eliminar márgenes, rellenos y bordes predeterminados */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Estilo del banner */
.banner {
    background-image: url("../image/banneraacyp.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #faebd7;
    padding: 35px;
    height: 350px;
}

/* Estilo del texto en el banner */
.banner-text {
    margin-top: 75px;
    margin-left: 100px;
    font-size: 25px;
}

/* Fuente para el cuerpo del documento */
body {
    font-family: "Sarala", sans-serif;
}

/* Estilo para el título a */
.titlea {
    position: relative;
    top: 10%;
    text-align: center;
    margin-top: 25px;
    text-decoration: underline;
    color: #015201;
    font-weight: 600;
}

/* Estilo para el título b */
.titleb {
    text-align: center;
    margin-top: 25px;
    color: #015201;
    font-weight: 600;
}

/* Estilo del contenedor principal */
.container {
    margin-top: 50px;
}

/* Estilo del texto 1 */
.text1 {
    margin-top: 70px;
}

/* Estilo del texto 2 */
.text2 {
    margin-top: 30px;
}

/* Estilo para el botón de peligro */
.btn-outline-danger {
    margin-top: 20px;
}

/* Estilo del subtítulo 1 */
.subtitle1 {
    margin-top: 40px;
    color: #094703;
}

/* Estilo para el logo de atención */
.logo-atencion {
    margin-top: 50px;
    width: 130px;
}

/* Estilo para el ícono 1 */
.icon1 {
    margin-top: 50px;
}

/* Estilo del subtítulo 2 */
.subtitle2 {
    margin-top: 35px;
}

/* Estilo para los elementos de navegación al pasar el mouse */
.nav-item:hover {
    color: #eb1d1d;
}

/* Estilo para los elementos de navegación */
.nav-item {
    font-size: 20px;
}

/* Estilo general para los enlaces */
a {
    text-decoration: none;
}

/* Estilo para los párrafos */
p {
    font-size: 17px;
}

/* Estilo para los elementos de lista */
li {
    list-style-type: none;
}

/* Estilo para la imagen del logo en pantallas medianas */
@media (min-width: 768px) {
    .logo-img {
        height: 160px;
        margin-left: 1rem;
    }
}

/* Estilo para la imagen del logo en pantallas grandes */
@media (min-width: 992px) {
    .logo-img {
        height: 160px;
        margin-left: 3rem;
    }
}


