@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* Reinicio de estilos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Estilos para títulos principales y secundarios */
.title1 {
    color: #00580c;
}

.subtitle {
    color: #00580c; 
}

/* Estilos para botones con borde de color rojo */
.btn-outline-danger {
    margin-top: 50px;
}

/* Estilos para el contenedor de cards */
.values1 {
    background-color: #fffbf6;
}

/* Estilos para el contenedor de redes sociales */
.containers-rrss {
    width: 1060px;
    margin: 0 auto;
}

.rr-ss {
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Estilos para las listas dentro de la barra de navegación */
.list {
    padding: 10px;
}

/* Modificaciones del estilo de Bootstrap para la barra de navegación */
.nav-item:hover {
    color: #eb1d1d;
}

.nav-item {
    font-size: 20px;
}

a {
    text-decoration: none;
}

p {
    font-size: 17px;
}

li {
    list-style-type: none;
}

/* Estilos para el banner con botón */
.banner {
    position: relative;
    overflow: hidden;
}

.button-container {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 65%;
    transform: translateX(-50%);
    bottom: 30%;
}

.btn-green {
    position: relative;
    background-color: #026805;
    color: #ffffff;
    padding: 0.8em 3em;
    text-decoration: none;
    border-radius: 5%;
    font-size: 2em;
    display: inline-block;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.btn-green:hover {
    background-color: #054708;
}

.text-box {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #db0e0e;
    border-radius: 45px;
    padding: 10% 5%;
    max-width: 90%;
    margin-bottom: 20px;
    z-index: 3;
    box-sizing: border-box;
    opacity: 85%;
}

.button-text {
    color: #ffffff;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

/* Ajustes responsivos para diferentes tamaños de pantalla */

/* Pantallas de hasta 1024px de ancho */
@media (max-width: 1024px) {
    .button-container {
        width: 90%;
        left: 60%;
        bottom: 20%;
    }

    .btn-green {
        padding: 1.2em 2.5em;
        font-size: 1.8em;
    }

    .text-box {
        padding: 15% 5%;
        max-width: 85%;
        bottom: 110%;
    }

    .button-text {
        font-size: 1.4em;
    }
}

/* Pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .button-container {
        width: 95%;
        left: 65%;
        bottom: 15%;
    }

    .btn-green {
        padding: 1em 2em;
        font-size: 1.5em;
    }

    .text-box {
        padding: 3% 2%;
        max-width: 80%;
        bottom: 100%;
    }

    .button-text {
        font-size: 1.2em;
    }
}

/* Pantallas de hasta 480px de ancho */
@media (max-width: 480px) {
    .button-container {
        width: 100%;
        left: 70%;
        bottom: 10%;
    }

    .btn-green {
        padding: 0.8em 1.5em;
        font-size: 1.2em;
    }

    .text-box {
        padding: 12% 1%;
        max-width: 90%;
        bottom: 90%;
    }

    .button-text {
        font-size: 1em;
    }
}






  